nav{
	background-color:$AllStar_Red;
	@media#{$desktop}{
		background-color:$AllStar_Black;
	}

	.sN-assets{
		//background-color: pink;
		.shop-icons{
			//background-color: pink;
			width:30%;
			@media#{$desktop}{
				max-width:15%;
			}
			img{
				width:100%;
			}
		
		}

		.user{
			//background-color: green;
			color:$AllStar_White;
			width:40%;
			font-size: 1.6em;

			.logout{
				font-size: .8em;

				a{
					color:$AllStar_White;
				}
			}

			img{
				width:100%;
			}
		}

		.nav-logo{
			//background-color: blue;
			width:50%;

            @media#{$desktop}{
                width: 35%;
            }
			img{
				width:100%;
			}


		}
		
	}

	.sN-hamburger{
		.hamburger{
			width:50%;
			img{
				width:100%;
			}
			@media#{$desktop}{
				max-width:40%;
			}
            @media#{XLdesktop}{
				max-width:20%;
			}
		}
	}


}