/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
//@import 'reset';
@import 'fonts';
@import 'colors';
@import 'media';



 
/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	font-family: $fontMain;
}

nav{
	background-color:$AllStar_Black;
}
.col-box{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	p{
		margin-top:1%;
		font-size:1.3em;
		color:lightgray;
	}
}

button{
	border:none;
	background-color:transparent;
	background-image: url("../img/border-blk.png");
	background-size: cover;
	width:150px;
	height: 55px;
	font-size:1.2em;
}

.whitebutton{
	background-image: url("../img/border-wht.png");
	color:white;
	
}

/* 2. Content ================================= */

body.pg1-home{

	.s1{

		.col-box0{
			background-color :$AllStar_Red;
			img{
				width: 100%;
			}
		}
		.col-box1{
			background-image: url("../img/redFull.png");
			background-size: cover;
			background-position-y: 30%;

			@media#{$tablet}{
				background-size: 200%;
				background-position-x: 20%;
			}
			img{
				width: 50%;
			}
			@media#{$tablet}{
				height: 50%;
			}
		}

		.col-box2{
			background-color:$AllStar_Navy;
			img{
				width:19%;
			}
			@media#{$tablet}{
				height: 50%;
			}
		}
	}

	.s2{
		padding:3%;
		.col-box0{
			padding:2%;
		}
		.col-box1{
			
			p{
				width: 85%;
			}
		}
		.col-box2{
			
			.img-shoe{
				margin:5%;
				max-width: 100%;
			}
		}
	}

	.s3{
		padding:3%;
		color:white;
		background-color:$AllStar_Red;
		.col-box0{
			padding:2%;
		}
		.col-box1{
			p{
				width: 72%;
			}
		}
		.col-box2{
			display: flex;
			justify-content: center;

			.img-mask{
				padding:1%;
			}
		}
	}
}